.pastel-red {
    background-color: var(--pastel-red);
}

.pastel-blue {
    background-color: var(--pastel-blue);
}

.pastel-green {
    background-color: var(--pastel-green);
}



.pastel-red-text {
    color:  #b32720;
}

.pastel-blue-text {
    color: #478195;
}

.pastel-green-text {
    color: #3ca03c;
}






.card, button {
    transition: transform 300ms ease-in-out;
}

.card:hover, button:hover {
    transform: scale(1.05);
}

